<ion-header class="ion-no-border">
  <app-cabecalho></app-cabecalho>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-padding">
    <ion-img
      src="assets/imagens/titulo.png"
      alt="A saúde é o maior bem que podemos cultivar"
      class="top-image"
    ></ion-img>

    <ion-searchbar placeholder="Buscar" class="search-bar"></ion-searchbar>

    <div class="section">
      <div class="section-header">
        <h3>SERVIÇOS</h3>
        <ion-text color="primary" class="ver-mais" (click)="verTodosServicos()">
          Ver mais
        </ion-text>
      </div>

      <ion-grid class="servicos-grid">
        <ion-row>
          <ion-col size="4" *ngFor="let item of servicosReduzidos">
            <ion-card
              class="service-card-home"
              button
              [disabled]="item.disabled"
              (click)="onServiceClick(item.id)"
            >
              <div class="card-content-container">
                <div class="service-icon-circle-home">
                  <ion-icon [name]="item.icon" aria-hidden="true"></ion-icon>
                </div>
                <ion-label>{{ item.name }}</ion-label>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="agendamentos-section section">
      <h3>Agendamentos</h3>
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80%;
        "
      >
        <ion-spinner></ion-spinner>
      </div>

      <div *ngIf="!isLoading">
        <div
          *ngIf="agendamentos.length === 0"
          style="
            padding: 20px;
            text-align: center;
            color: var(--ion-color-medium);
          "
        >
          <p>Você ainda não possui agendamentos.</p>
        </div>

        <div class="appointment-list" *ngIf="agendamentos.length > 0">
          <app-appointment-card
            *ngFor="let agendamento of agendamentos"
            [appointment]="agendamento"
          >
          </app-appointment-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-barra-de-abas></app-barra-de-abas>
</ion-footer>
