<ion-header class="ion-no-border">
  <app-cabecalho></app-cabecalho>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-padding">

    <ion-img src="assets/imagens/titulo.png" alt="A saúde é o maior bem que podemos cultivar" class="top-image"></ion-img>

    <ion-searchbar placeholder="Buscar" class="search-bar"></ion-searchbar>

    <div class="section">
      <div class="section-header">
        <h3>SERVIÇOS</h3>
        <ion-text color="primary" class="ver-mais" (click)="verTodosServicos()">
          Ver mais
        </ion-text>
      </div>

      <ion-grid class="servicos-grid">
        <ion-row>
          <ion-col size="4" *ngFor="let item of servicosReduzidos">
            <ion-card class="service-card-home" button (click)="onServiceClick(item.id)">
              <div class="service-icon-circle-home">
                <ion-icon [name]="item.icon" aria-hidden="true"></ion-icon>
              </div>
              <ion-label>{{ item.name }}</ion-label>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="section">
      <h3>PRÓXIMOS AGENDAMENTOS</h3>
      <div class="placeholder-agendamentos">
        PRÓXIMOS AGENDAMENTOS
      </div>
    </div>

  </div> </ion-content>

<ion-footer>
  <app-barra-de-abas></app-barra-de-abas>
</ion-footer>