/* --- Header --- */
ion-toolbar {
  --background: var(--app-color-header-bg);
}

ion-title {
  color: var(--app-color-primary-dark);
  font-weight: bold;
}

ion-back-button {
  color: var(--app-color-primary-dark);
}

/* --- Content --- */
ion-content {
  --background: var(--app-color-white);
}

.content-padding {
  padding: 0 16px;
  padding-top: 20px;
}

.page-title {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--app-color-primary-dark);
  margin-bottom: 24px; 
  padding-left: 4px; 
}

/* --- Cards de Busca --- */
.search-card {
  --background: #f0f0f0;
  box-shadow: none; 
  border-radius: 8px;
  margin: 0 0 20px 0;
  padding: 8px 0;
  
  ion-card-content {
    padding: 0 8px;
  }

  ion-label {
    font-size: 0.9em;
    font-weight: 500;
    color: #333;
    padding-left: 8px;
    margin-bottom: 8px;
    display: block;
  }
}

.custom-searchbar {
  --background: var(--app-color-primary-medium);
  --box-shadow: none; 
  --border-radius: 8px;
  padding: 0;
  margin: 0;
  
  /* Cor do ícone e do texto */
  --color: var(--app-color-primary-dark);
  --placeholder-color: var(--app-color-primary-dark);
  --icon-color: var(--app-color-primary-dark);
}


/* --- Botão "Buscar" no Footer --- */
ion-footer ion-toolbar {
  --background: var(--app-color-white);
  padding: 10px 16px;
}

.search-button {
  --background: var(--app-color-primary-medium);
  --color: var(--app-color-primary-dark);
  --border-radius: 8px;
  --box-shadow: none;
  font-weight: bold;
  height: 48px;
  margin: 0;
}