<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/servicos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendar Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-padding">
    <h3 class="page-title">AGENDAR CONSULTA</h3>

    <ion-card class="search-card">
      <ion-card-content>
        <ion-label>Especialidade:</ion-label>
        <ion-searchbar placeholder="Buscar" class="custom-searchbar" [(ngModel)]="especialidade"></ion-searchbar>
      </ion-card-content>
    </ion-card>

    <ion-card class="search-card">
      <ion-card-content>
        <ion-label>Nome do Profissional:</ion-label>
        <ion-searchbar placeholder="Buscar" class="custom-searchbar" [(ngModel)]="profissional"></ion-searchbar>
      </ion-card-content>
    </ion-card>

    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-button class="search-button" expand="full" (click)="buscar()">Buscar</ion-button>
      </ion-toolbar>
    </ion-footer>

  <ion-list *ngIf="resultados.length > 0">
  <ion-item *ngFor="let consulta of resultados">
    <ion-label>
      <h2>{{ consulta.profissional }}</h2>
      <p>{{ consulta.especialidade }} - {{ consulta.data }} às {{ consulta.horario }}</p>
    </ion-label>
    <ion-button slot="end" color="primary" (click)="agendar(consulta)">
      Agendar
    </ion-button>
  </ion-item>
</ion-list>
