.appointment-card {
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 16px;
  background-color: #9adaff;
  border-bottom: 1px solid var(--ion-color-step-150, #e0e0e0);

  .date-time {
    .date {
      font-size: 1.1rem;
      font-weight: 600;
      color: var(--ion-color-dark);
    }
    .time {
      font-size: 1rem;
      color: black;
      margin-top: 8px;
    }
  }

  .status {
    ion-badge {
      font-size: 0.8rem;
      margin-top: 8px;
    }
  }
}

.card-content {
  padding-top: 12px;
  padding-bottom: 8px;

  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    ion-icon {
      font-size: 1.4rem;
      color: var(--ion-color-medium);
      margin-right: 12px;
    }

    ion-label {
      h2 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
      }
      p {
        font-size: 0.9rem;
        color: var(--ion-color-medium);
        margin: 0;
      }
    }
  }
}
