<ion-content class="cadastro-content">
  <div class="content-card">
    <div class="custom-header">
      <ion-button class="custom-back-button" fill="clear" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <h1 class="page-title">Cadastro</h1>
    </div>

    <form [formGroup]="cadastroForm" (ngSubmit)="fazerCadastro()">
      <div class="form-container">
        
        <div class="form-field">
          <ion-label>Nome:</ion-label>
          <ion-input
            id="nome"
            formControlName="nome"
            type="text"
            class="custom-input"
          ></ion-input>
        </div>
        
        <div class="form-field">
          <ion-label>Email:</ion-label>
          <ion-input
            id="email"
            formControlName="email"
            type="email"
            class="custom-input"
          ></ion-input>
        </div>
        <div class="form-field">
          <ion-label>Data de Nascimento:</ion-label>
          <ion-input
            id="dataDeNascimento"
            formControlName="dataDeNascimento"
            type="date"
            class="custom-input"
          ></ion-input>
        </div>
        <div class="form-field">
          <ion-label>CNS:</ion-label>
          <ion-input
            id="cns"
            formControlName="cns"
            type="text"
            class="custom-input"
          ></ion-input>
        </div>
        <div class="form-field">
          <ion-label>CPF:</ion-label>
          <ion-input
            id="cpf"
            formControlName="cpf"
            type="text"
            class="custom-input"
          ></ion-input>
        </div>
        <div class="form-field">
          <ion-label>Telefone:</ion-label>
          <ion-input
            id="telefone"
            formControlName="telefone"
            type="tel"
            class="custom-input"
          ></ion-input>
        </div>

        <div class="form-field">
          <ion-label>Senha:</ion-label>
          <ion-input
            id="senha"
            formControlName="senha"
            [type]="showPassword ? 'text' : 'password'"
            class="custom-input"
          ></ion-input>
          <ion-icon
            class="password-icon"
            [name]="passwordIcon"
            (click)="togglePassword()"
            aria-label="Mostrar/ocultar senha"
          ></ion-icon>
        </div>
        
        <div class="form-field">
          <ion-label>Confirme a senha:</ion-label>
          <ion-input
            id="confirmarSenha"
            formControlName="confirmarSenha"
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="custom-input"
          ></ion-input>
          <ion-icon
            class="password-icon"
            [name]="confirmPasswordIcon"
            (click)="toggleConfirmPassword()"
            aria-label="Mostrar/ocultar senha"
          ></ion-icon>
        </div>
      </div>

      <ion-button
        type="submit"
        expand="block"
        class="register-button"
        [disabled]="cadastroForm.invalid || isLoading"
      >
        <span *ngIf="!isLoading">Cadastrar</span>
        <ion-spinner *ngIf="isLoading"></ion-spinner>
      </ion-button>
    </form>
  </div>
</ion-content>