<ion-content class="cadastro-content">
  
  <div class="content-card">
    
    <div class="custom-header">
      <ion-button class="custom-back-button" fill="clear" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <h1 class="page-title">Cadastro</h1>
    </div>

    <div class="form-container">
      <div class="form-field">
        <ion-label>Nome:</ion-label>
        <ion-input type="text" class="custom-input"></ion-input>
      </div>
      <div class="form-field">
        <ion-label>Sobrenome:</ion-label>
        <ion-input type="text" class="custom-input"></ion-input>
      </div>
      <div class="form-field">
        <ion-label>Email:</ion-label>
        <ion-input type="email" class="custom-input"></ion-input>
      </div>
      <div class="form-field">
        <ion-label>Senha:</ion-label>
        <ion-input type="password" class="custom-input"></ion-input>
      </div>
      <div class="form-field">
        <ion-label>Confirme a senha:</ion-label>
        <ion-input type="password" class="custom-input"></ion-input>
      </div>
    </div>
    
    <ion-button expand="block" class="register-button">
       Cadastrar
    </ion-button>

  </div>
</ion-content>