// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #9ADAFF;
  --ion-color-primary-rgb: 154,218,255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #88c0e0;
  --ion-color-primary-tint: #a4deff;
}
