.splash-background {
  --background: #9ADAFF; // fundo azul claro
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.splash-logo {
  width: 460px;
  height: 260px;
  object-fit: contain; /* mantém proporção sem distorcer */
  margin-bottom: 40px;
}

.splash-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #003366; // azul escuro
}

/* Logo ajustado */
.logo-sus {
  width: 90px;      /* aumenta um pouco a resolução */
  height: auto;
  margin-left: 5px; /* cola no canto esquerdo */
}

/* Banner */
.banner-container {
  position: relative;
  text-align: left;
  width: 100%;
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover; /* mantém a proporção da imagem */
}

.banner-text {
  position: absolute;
  top: 30%;       /* desce/sobe o texto */
  left: 15px;     /* aproxima do canto esquerdo */
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;  /* ajusta a altura entre as linhas */
}

.banner-text h2 {
  margin: 0;
}

/* Deixar "cultivar" mais perto do texto de cima */
.banner-text .highlight {
  margin-top: -5px; /* sobe só essa palavra */
}
