<ion-content class="login-content">
  <div class="white-shape">
    <div class="login-container">
      <h1 class="login-title">Login</h1>

      <form [formGroup]="loginForm" (ngSubmit)="fazerLogin()">
        
        <div class="input-group">
          <label for="usuario">Usuário:</label>
          <ion-input
            id="usuario"
            placeholder="Digite seu usuário"
            formControlName="usuario"
          ></ion-input>
        </div>
        
        <div class="input-group">
          <label for="senha">Senha:</label>
          <ion-input
            id="senha"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Digite sua senha"
            formControlName="senha"
          ></ion-input>
          <ion-icon
            class="password-icon"
            [name]="passwordIcon"
            (click)="togglePassword()"
            aria-label="Mostrar/ocultar senha"
          ></ion-icon>
        </div>

        <a routerLink="/esqueci-minha-senha" class="forgot-password"
          >Esqueci minha senha</a
        >

        <ion-button
          type="submit"
          expand="block"
          class="login-button"
          [disabled]="loginForm.invalid || isLoading"
        >
          <span *ngIf="!isLoading">Entrar</span>
          <ion-spinner *ngIf="isLoading"></ion-spinner
        ></ion-button>

        <p class="signup-text">
          Não tem conta?
          <a routerLink="/cadastro" class="signup-link">Cadastre-se</a>
        </p>
      </form>
    </div>
  </div>
</ion-content>