/* --- Header (Igual ao molde) --- */
ion-toolbar {
  --background: var(--app-color-header-bg);
}
ion-title {
  color: var(--app-color-primary-dark);
  font-weight: bold;
  font-size: 1em;
}
ion-back-button {
  color: var(--app-color-primary-dark);
}

/* --- Content (Igual ao molde) --- */
ion-content {
  --background: var(--app-color-white);
}

/* --- Layout de Centralização --- */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
  
  height: 100%;
  padding: 0 32px;
}

.main-image {
  width: 150px;
  height: auto;
  margin-bottom: 32px;
}

.main-title {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--app-color-primary-dark);
  margin-bottom: 16px;
  line-height: 1.3;
}

.description-text {
  font-size: 0.9em;
  color: #333;
  line-height: 1.5;
}