<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/servicos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendamentos e Internações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex-container">
    
    <ion-img src="assets/icon/maca.png" alt="Maca de hospital" class="main-image"></ion-img>

    <h2 class="main-title">
      Você não tem registro de atendimentos ou internações
    </h2>

    <p class="description-text">
      Essa área apresenta os registros de atendimento clínico da atenção primária em saúde e as autorizações de internação hospitalar.
    </p>

  </div> </ion-content>